/* leagueList.css */

.league-list-container {
  margin: 20px;
}

.select-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.league-header {
  background-color: #f7f7f7;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  background-color: #f7f7f7;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #fff;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  width: 200px; /* Adjust width as needed */
}

/* Style the disabled option */
option[disabled] {
  color: #999;
}

/* Style for the confirmation dialog */
/* The ::-webkit-dialog pseudo-element targets the Chrome browser */
::-webkit-dialog {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

::-webkit-dialog-title {
  font-size: 18px;
  padding: 15px;
  background-color: #f0f0f0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

::-webkit-dialog-message {
  font-size: 16px;
  padding: 15px;
}

::-webkit-dialog-button-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

::-webkit-dialog-button {
  font-size: 16px;
  padding: 8px 15px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

::-webkit-dialog-button:hover {
  background-color: #0056b3;
}
