/* leagueList.css */

.league-list-container {
  margin: 20px;
}

@media screen and (min-width: 768px) {
  .league-list-container {
    min-width: 650px; 
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .league-header .styled-select:nth-child(2) {
    max-width: 200px; /* Adjust as needed */
  }
}

.select-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.league-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 4px;
}

.league-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.styled-select {
  background: none;
  border: none;
  font-size: 1.5em;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

.styled-select:focus {
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

/* Add media query for responsiveness */
@media (max-width: 768px) { /* This is for tablets and below */
  .league-header {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .league-info p {
    margin-top: 5px;
  }
  
  .styled-select {
    width: 100%;
    margin-bottom: 10px;
  }
}

.leave-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 4px 8px; /* Reduced padding */
  font-size: 14px; /* Smaller font size */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 4px; /* Keep some space above the button */
}

.leave-button:hover {
  background-color: #c82333;
  transform: scale(1.05);
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  background-color: #f7f7f7;
  border-radius: 4px;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #fff;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}


/* Style the disabled option */
option[disabled] {
  color: #999;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 4px;
}

.pagination button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-weight: bold;
}


/* Style for the confirmation dialog */
/* The ::-webkit-dialog pseudo-element targets the Chrome browser */
::-webkit-dialog {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

::-webkit-dialog-title {
  font-size: 18px;
  padding: 15px;
  background-color: #f0f0f0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

::-webkit-dialog-message {
  font-size: 16px;
  padding: 15px;
}

::-webkit-dialog-button-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

::-webkit-dialog-button {
  font-size: 16px;
  padding: 8px 15px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

::-webkit-dialog-button:hover {
  background-color: #0056b3;
}
