.matchup-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.team-logo {
  width: 50px;
  height: 50px;
}

.team-name {
  font-size: 12px;
  margin-top: 5px;
}

.spread {
  flex: 1;
  text-align: center;
  font-size: 18px;
}

.over-under {
  flex: 1;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

.selected {
  background-color: #4caf50; /* Green */
  color: white;
}

.over-under-options {
  display: flex;
}

.over,
.under {
  padding: 5px 10px;
  cursor: pointer;
}

/* Style for selected over and under buttons */
.over.selected,
.under.selected {
  background-color: #4caf50;
  color: #fff;
}
