/* styles.css */

/* General styles */
.submit-picks-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.submit-picks-heading {
  font-size: 24px;
  font-weight: bold;
}

.column-labels {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
  text-align: center;
}

/* Styling for the matchup row */
.matchup-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px; /* Add margin between rows */
}

.started {
  background-color: rgb(25, 26, 26);
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.team-logo {
  width: 40px; /* Decrease logo size */
  height: 40px; /* Decrease logo size */
}

.team-name {
  font-size: 10px; /* Smaller font size */
  margin-top: 3px; /* Smaller margin top */
}

.spread {
  text-align: center;
  font-size: 16px; /* Smaller font size */
}

.over-under {
  text-align: center;
  font-size: 16px; /* Smaller font size */
  cursor: pointer;
}

.selected {
  background-color: #4caf50;
  color: white;
}

/* Over/Under options container */
.over-under-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px; /* Add margin at the top */
  margin-left: 10px;
}

/* Over and Under buttons */
.over,
.under {
  padding: 6px 6px; /* Smaller padding */
  cursor: pointer;
}

/* Style for selected over and under buttons */
.over.selected,
.under.selected {
  background-color: #4caf50;
  color: #fff;
}

/* Submit button */
.submit-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.submit-button:hover {
  background-color: #0056b3;
}

.submit-button:disabled {
  background-color: #b3b3b3;
  cursor: not-allowed;
}

/* Login button style */
.login-button {
  padding: 0.5rem 1rem;
  background-color: rgb(255, 207, 119);
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--dl-color-gray-black);
  cursor: pointer;
  box-shadow: 5px 6px 0px 0px #000000;
  transition: 0.3s;
}

.login-button:hover {
  opacity: 0.8;
}

.login-button {
  margin-bottom: 20px;
}